# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build
out
bin
obj
*.local

# Environment variables
.env
.env.local
.env.production
.env.development
.env.production.local
.env.development.local
env/
venv/
ENV/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.iml
.temp/
*.tmp
coverage/
CMakeFiles/
CMakeCache.txt
*~
*.bak
*.swp
Thumbs.db
ehthumbs.db
Desktop.ini

# Build and cache
.sass-cache/
.vite_opt_cache/
test-results/
*.coverage
*.lcov
*.user
*.code-workspace
pnpm-lock.yaml
*.pyc
__pycache__

# Project specific
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Cursor IDE files
.cursor/
*.cursor

# System files
.bash_history
.config/
.docker/
.fontconfig/
.gitconfig
.lesshst
.node_repl_history
.pjeoffice-pro/
.shodo/
.vscode/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
package-lock.json
scoop/

# Windows system directories
3D Objects/
AppData/
Contacts/
Downloads/
Favorites/
Games/
IntelGraphicsProfiles/
Links/
Music/
Saved Games/
Searches/
Tracing/
Valid/
Videos/
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Documents/Meus Vídeos/
Documents/Minhas Imagens/
Documents/Minhas Músicas/
Menu Iniciar/
Meus Documentos/
Modelos/
Recent/
SendTo/
